
@{
    ViewData["Title"] = "Check Your Inbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container">
    <div class="rounded border mt-5">
        <div class="w-100 d-flex justify-content-center font-weight-bold">
            <p>Password reset link has been sent to your email. Please check your inbox</p>
        </div>

        <div class="w-100 d-flex justify-content-center font-weight-bold">
            <a href="https://mail.google.com/mail/u/0/#inbox" class="text-success">Your inbox</a>
        </div>
    </div>
</div>
