@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="ModelOnly"></div>


<div class="container p-3 mt-5 border rounded w-75">
    <form asp-action="SendResetPasswordEmail">
        <h3 class="w-100 text-center rounded font-weight-bold mb-3"> Send Reset Password Email </h3>

        <div class="mb-3">
            <input name="Email"  placeholder="Email" class="form-control" />
        </div>

        <div class="d-flex justify-content-center mb-3">
            <input class="btn btn-success w-100" type="submit" value="Send Email" />
        </div>

    </form>

</div>

@section ValidationScriptsSection
{
    <partial name="_ValidationScriptsPartial" />

}

