@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="ModelOnly"></div>


<div class="container p-3 mt-5 border rounded w-75">
    <form asp-action="ResetPassword">
        <h3 class="w-100 text-center rounded font-weight-bold mb-3"> Reset your password  </h3>


        <div class="mb-3">
            <input asp-for="NewPassword" placeholder="New Password" class="form-control" />
        </div>
        <div class="mb-3">
            <input asp-for="ConfirmNewPassword" placeholder="Confirm New Password" class="form-control" />
        </div>


        <div class="d-flex justify-content-center mb-3">
            <input class="btn btn-success w-100" type="submit" value="Submit" />
        </div>

    </form>

    <p class="w-100 text-center">Do You Have Account? <a asp-action="SignIn" class="text-success">Login Now!</a></p>

</div>

@section ValidationScriptsSection
{
    <partial name="_ValidationScriptsPartial" />
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
     <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@
}