<form asp-action="Index" class="row col-8 offset-2">
    <div class="col-8">
        <input type="text" id="searchInput" class="form-control" name="searchInp" placeholder="Search By Name" />
    </div>
    <div class="col-4">
        <input type="submit" value="Search" class="btn btn-success" />
    </div>
</form>
